* {
	border-radius: 5px;
}
#tablesDiv {
	top:0;
	left: 0;
	width: 20%;
	height: 100%;
	overflow: auto;
	position: fixed;
	border-right: 3px solid grey;
}
.table_heading {
	margin-top: 5%;
	margin-bottom: 10%;
}
.table {
	width: 80%;
	height: 10%;
	border: 1px solid #ddd;
	margin-top: 5%;
	margin-left: 5%;
  	padding: 5%;
  	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	display: block;
  	box-shadow: 2px 2px grey;
  	text-align: left;
}
.menu_div {
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	overflow: auto;
	position: fixed;
}
.menu_heading {
	margin-top: 2%;
}
#searchItemBox {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 1% 2% 1% 2%;
  border: 1px solid #ddd;
  margin-bottom: 1%;
}
#searchTableBox {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	width: 90%;
	padding: 4% 2% 4% 2%;
	border: 1px solid #ddd;
	margin-bottom: 1%;
}
#listOfItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#listOfItems li {
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  box-shadow: 2px 2px grey;
  width: 90%;
  text-align: left;
}
.course{
    font-size: 15px;
    color: blue;
}

#orderDetailsDiv {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.order_details_contents {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
}
.order_details_header {
  padding: 2px 16px;
  background-color: blue;
  color: white;
  width: 97%;
  text-align: center;
}
#closeOrderDetailsDiv {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeOrderDetailsDiv:hover,
#closeOrderDetailsDiv:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.order_details_body {
	padding: 2px 16px;
	width: 100%;
	text-align: center;
}
#orderDetailsTable{
	width: 100%;
}
#tableHead {
	width: 100%;
}
.material-icons{
	cursor: pointer;
}
#generateBill {
	cursor: pointer;
}